# Node
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Python
__pycache__/
*.py[oc]
build/
wheels/
*.egg-info
.venv/
.python-version

# Environment
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
