# Security
SECRET_KEY=99cd6003c2de415a9c9507ecbb85f3e2cdba2ca1b4e79994bdac6e138cb952ce
ALGORITHM=HS256

# Database
SQLITE_URL=sqlite:///./busgo.db

# Mail Config (SMTP)
# Replace with your actual Gmail and App Password
MAIL_USERNAME=testing24.work@gmail.com
MAIL_PASSWORD=xkyf ljce jhgy idye
MAIL_FROM=testing24.work@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=BusGo Support
